---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="መዝናኛ">
	<main>
		<h4>ጥያቄ <span class="text-gradient">4/10</span></h4>
        <img src="https://24.media.tumblr.com/e252577812e9094520e44124f6b66b48/tumblr_ml5oyxAXBA1s4997so1_500.gif" alt="gif" class="responsive" >
		<p class="instructions">
			ይህ ኮሜዲያን ትክክለኛ ስሙ ማነው?

		</p>

		<ul role="list" class="link-card-grid">
			<button  class="button-shrink" onclick="window.location.href='https://w3docs.com';">ቻርሊ ቻፕሊን</button>
			<button  class="button-shrink" onclick="window.location.href='https://w3docs.com';">ትሬቨር ኖህ</button>
			<button  class="button-shrink" onclick="window.location.href='https://w3docs.com';">ሮዋን አትኪንሰን</button>
			<button  class="button-shrink" onclick="window.location.href='https://w3docs.com';">ኬቨን ሃርት</button>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #FFD700, #da6262);
	}
    sup{
		@apply ml-32 -mb-5 text-right;
        color: #fff01b;
        font-weight: bold;
	}
	h4 {
		@apply mx-0 my-8 text-center;
        color: black;
	}
    img{
        @apply ml-40;
        width: 55%;
        border-radius: 10px;
    }
    @media only screen and (max-width: 480px) {
  img {
    width: 100%;
    margin-left: 5px;
  }
}
     button{
       @apply h-20 w-48 text-sm bg-gray-700 text-white p-1 ml-16;
	   border-radius:10px;
	   transition: all 0.3s ease-in-out;
    }
   
	main {
		@apply m-auto p-4;
        max-width: 60ch;
	}
    p {
		@apply mr-64 text-center;
	}
	.text-gradient {
		@apply rounded-md font-black text-xs;
        background-size: 100% 200%;
        background-position-y: 100%;
        animation: pulse 4s ease-in-out infinite;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		
	}
	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
	.instructions {
		@apply rounded-md mx-0 my-4 p-4;
        line-height: 1.6;
		background:linear-gradient(0deg, #FFD700, #da6262);
		color: var(--color-bg);
	}
	.instructions code {
		@apply rounded text-sm px-1 py-px;
		border: 0.1em solid var(--color-border);
		
	}
	.link-card-grid {
		@apply grid p-0 gap-4;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		
	}
   
	.button-shrink:hover {
  transform: scale(0.8);
}
	</style>