---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="መዝናኛ">
	<main>
		<h4>ጥያቄ <span class="text-gradient">1/10</span></h4>
		<p class="instructions">
			የኦሮማይ ልብ ወለድ ደራሲ ማን ይባላል?
		</p>
		<ul role="list" class="link-card-grid">
			<button  class="button-shrink" onclick="window.location.href='http://localhost:3000/mez_two';">ስብሃት ገ/እግዚአብሄር</button>
			<button  class="button-shrink" onclick="window.location.href='http://localhost:3000/mez_three';">ይስማዕከ ወርቁ</button>
			<button  class="button-shrink" onclick="window.location.href='http://localhost:3000/mez_two';">በዓሉ ግርማ</button>
			<button  class="button-shrink" onclick="window.location.href='http://localhost:3000/mez_four';">ዓብይ አህመድ</button>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #FFD700, #da6262);

	}

	h4 {
		@apply mx-0 my-8 text-center;
        color: black;

	}
     button{
       @apply h-20 text-sm ml-16 p-1 text-white w-48;
       background-color: rgb(49, 56, 77);
       border-radius: 10px;
       transition: all 0.3s ease-in-out;
    }
	main {
		@apply m-auto p-4;
		max-width: 60ch;
	}
    p {
		@apply text-center text-sm;
		
	}
	.text-gradient {
		@apply rounded-md font-black text-xs;
        background-size: 100% 200%;
        background-position-y: 100%;
        animation: pulse 4s ease-in-out infinite;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		@apply rounded-md mx-0 my-4 p-4;
		background:linear-gradient(0deg, #FFD700, #da6262);
		color: var(--color-bg);
	}

	.instructions code {
		border: 0.1em solid var(--color-border);
		@apply rounded text-sm px-1 py-px;
	}

	.link-card-grid {
		@apply grid p-0 gap-4;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	}
	.button-shrink:hover {
  transform: scale(0.8);
}
	</style>
