---

---


---

---

<div class="quiz-container" id="quiz">
    <div class="quiz-header">
	  <h1> መዝናኛ</h1>
      <h2 id="question">Question Text</h2>
	  <img />
      <ul>
        <li>
          <input type="radio" name="answer" id="a" class="answer">
          <label for="a" id="a_text">Answer</label>
        </li>

        <li>
          <input type="radio" name="answer" id="b" class="answer">
          <label for="b" id="b_text">Answer</label>
        </li>

        <li>
          <input type="radio" name="answer" id="c" class="answer">
          <label for="c" id="c_text">Answer</label>
        </li>

        <li>
          <input type="radio" name="answer" id="d" class="answer">
          <label for="d" id="d_text">Answer</label>
        </li>

      </ul>
    </div>

    <button id="submit">Answer</button>

  </div>

<style>


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.quiz-container{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}
.quiz-header{
  padding: 4rem;
}
h1{
	color:orange;
	font-weight: bold;
	position: relative;
	left: 40%
}
h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  font-size: 1.2rem;
  margin: 1rem 0;
}
ul li label{
  cursor: pointer;
}
button{
  background-color: #FF5733;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
button:hover{
  background-color:#FFAC1C;
}
button:focus{
  outline: none;
  background-color: #FF7F50;
}
quiz-container{
	align-content:center;
}
</style>

<script>
const quizData = [
    {
       
       
       question: "የጥቁር ሰው አልበም ባለቤት ማን ነው?",
        a: "አቤል ሙሉጌታ",
        b: "ቴዲ አፍሮ",
        c: "ነፃነት ወርቅነህ",
        d: "ይርዳው ጤናው",
        correct: "b",
     
     
    },
    {
        
        question: "የመጀመሪያው የኢትዮጲያ ፊልም ማን ይባላል?",
        a: "የወንዶች ጉዳይ",
        b: "ሂሮሺማ",
        c: "ጉማ",
        d: "ሂሩት አባቷ ማነው",
        correct: "d",
    },
    {
        question: "በኢትዮጲያ የመጀመሪያ ሴት ፒያኒስት ስም ማን ይባላል?",
        a: "መሰረት መብራቴ",
        b: "ሳሙኤል ይርጋ",
        c: "እማሆይ ፅጌማርያም ገብሩ",
        d: "ግርማ ይፍራሸዋ",
        correct: "c",
    },
    {
        question: "የግርምት ሳይቴክ ደራሲ ማን ነው?",
        a: "ፓውሎስ ኛኛ",
        b: "ሰለሞን ሙሉጌታ ካሳ",
        c: "ይስማዕከ ወርቁ",
        d: "በዓሉ ግርማ",
        
        correct: "b",
    },
      
 

];

const quiz= document.getElementById('quiz')
const answerEls = document.querySelectorAll('.answer')
const questionEl = document.getElementById('question')
const a_text = document.getElementById('a_text')
const b_text = document.getElementById('b_text')
const c_text = document.getElementById('c_text')
const d_text = document.getElementById('d_text')
const submitBtn = document.getElementById('submit')


let currentQuiz = 0
let score = 0

loadQuiz()

function loadQuiz() {

    deselectAnswers()

    const currentQuizData = quizData[currentQuiz]

    questionEl.innerText = currentQuizData.question
    a_text.innerText = currentQuizData.a
    b_text.innerText = currentQuizData.b
    c_text.innerText = currentQuizData.c
    d_text.innerText = currentQuizData.d
}




submitBtn.addEventListener('click', () => {
    const answer = getSelected()
    if(answer) {
       if(answer === quizData[currentQuiz].correct) {
           score++
       }

       currentQuiz++

       if(currentQuiz < quizData.length) {
           loadQuiz()
       } else {
           quiz.innerHTML = `
           <h2>${score}/${quizData.length} ጥያቄዎችን መልሰዋል </h2>
           <center><img src="images/logo2.png" width="200" height="270" ></center>
           <button onclick="window.location.href='https://facebook.com';">Share</button>
           `
       }
    }


})
</script>